@import 'src/styles/material-theme';

.app-tree-page {
  display: block;

  header {
    padding-top: $offset-middle;
    padding-bottom: $offset-middle;
  }
  main {
    margin-top: $offset-middle * 2;
  }

  .tree-height {
    text-align: center;
  }
}

