@import "src/styles/material-theme";

.app-video-list-page {
  display: block;
  height: 100%;

  --scroll-offset: 30px;
}

// inside main content

.app-video-content {
  height: 100%;
  overflow: auto;
}

.youtube-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  //align-items: flex-start;
  align-items: stretch;
  align-content: flex-start;

  @include scroll-height();
}

.video-state-info {
  padding: $offset-middle;
  text-align: center;
}

.video-error {

  i {
    color: $warn;
    vertical-align: middle;
  }
  span {
    padding-left: $offset-tiny;
    vertical-align: middle;
  }
}
